body {
  margin: 0;
  padding: 0;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.cursor-pointer {
  cursor: pointer;
}

.px-20 {
  padding-right: 10%;
  padding-left: 10%;
}

.py-30 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.h-10 {
  height: 40px;
}

.text-lg {
  font-size: 22px;
}

.text-xl {
  font-size: 25px;
}

.font-bold {
  font-weight: 600;
}
